

{% extends 'front.html.twig' %}


{% block body %}
    <h2 class="text-info">Listado Item Tipo Análisis</h2>

    <table class="table table-striped" style="width: 90%" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Tipoanalisis</th>
            <th>Nombre</th>
            <th>Valor referencia</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {%  for itemTipoAnalisi in itemTipoAnalises %}
            <tr>
                <td>{{ itemTipoAnalisi.id }}</td>
                <td>{{ itemTipoAnalisi.tipoAnalisis }}</td>
                <td>{{ itemTipoAnalisi.nombre }}</td>
                <td>{{ itemTipoAnalisi.valorReferencia }}</td>
                <td>
                    <a href="{{ path('itemtipoanalisis_edit', {'id':itemTipoAnalisi.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a href="{{ path('itemtipoanalisis_delete',{'id':itemTipoAnalisi.id}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
