{% extends 'front.html.twig' %}

{%  block body %}
    <h2 class="text-info">Nuevo Item Tipo Analisis</h2>
    <div class="form">
        {{ form_start(form) }}

        <div class="row">
            <div class="form-group">
                <div class=" col-md-2">
                    {{ form_label(form.tipoAnalisis, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-7">
                    {{ form_widget(form.tipoAnalisis, {'attr' : {'class' : 'form-control col-10'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.tipoAnalisis) }}
                </div>
            </div>
        </div>

        <br>


        <div class="row">
            <div class="form-group">
                <div class=" col-md-2">
                    {{ form_label(form.nombre, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-7">
                    {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control col-10'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-2">
                    {{ form_label(form.unidad, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-7">
                    {{ form_widget(form.unidad, {'attr' : {'class' : 'form-control col-10'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.unidad) }}
                </div>
            </div>
        </div>

        <div class="row">

        <div class="form-check">
            <div class=" col-md-2">
                {{ form_label(form.esPon, 'Positivo/Negativo', {
                    'label_attr' : {'class' : 'control-label'}}) }}
            </div>
            <div class="col-md-7">
                {{ form_widget(form.esPon) }}
            </div>
            <div class="col-md-3">
                {{ form_errors(form.esPon) }}
            </div>
        </div>
    </div>

<br>

        <div id="agregarValores">
            <ul class="tags"
                data-prototype="{{ form_widget(form.valoresReferencia.vars.prototype)|e }}">
            </ul>
        </div>



        <div class="row">
            <div class="form-group">
                <div class=" col-md-4">
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.Guardar, {'attr' : {'class' : 'btn'}}) }}
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </div>







        {{ form_end(form) }}
    </div>


{% endblock body %}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">

    $('#appbundle_itemtipoanalisis_esPon').click(function(){
        if (this.checked) {
            $('#agregarValores').css('display','none');
        }
        else
        {
            $('#agregarValores').css('display','inline');
        }
    });



    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link"> <button type="button" class="btn btn-default btn-sm "><i class="fa fa-plus-square"></i> Agregar Valores Referencia</button></a>');
    var $newLinkLi = $('<li style="\n' +
        '    list-style: none;\n' +
        '"></li>').append($addTagLink);

    jQuery(document).ready(function() {
        $('#appbundle_itemtipoanalisis_esPon').css('height', 20)
        .css('width',20);



        // Get the ul that holds the collection of tags
        var $collectionHolder = $('ul.tags');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see code block below)
            addTagForm($collectionHolder, $newLinkLi);
        });


    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li style="\n' +
            '    list-style: none;\n' +
            '"></li>').append(newForm);

        // also add a remove button, just for this example
        $newFormLi.append('<a href="#" class="remove-tag">' +
            '<button type="button" class="btn btn-danger btn-xs style" style="\n' +
            '    padding-top: 3px;\n' +
            '    padding-bottom: 2px;\n' +
            '    padding-left: 4px;\n' +
            '    margin-left: 15px;\n' +
            '    padding-right: 4px;\n' +
            '"><i class="fa fa-trash-o"></i> </button></a>');

        $newLinkLi.before($newFormLi);

        // handle the removal, just for this example
        $('.remove-tag').click(function(e) {
            e.preventDefault();

            $(this).parent().remove();

            return false;
        });
    }

</script>
{% endblock javascripts  %}