<!doctype html>
<html lang="en">

<head>
    <title>BioMedik</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{{ asset('app/Resources/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('app/Resources/vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('app/Resources/vendor/linearicons/style.css') }}">
    <link rel="stylesheet" href="{{ asset('app/Resources/vendor/chartist/css/chartist-custom.css') }}" />
    <link rel="stylesheet" href="{{ asset('app/Resources/vendor/chartist/css/datatables.min.css') }}" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('app/Resources/css/main.css') }}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="{{ asset('app/Resources/css/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('app/Resources/css/datepicker.css') }}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('app/Resources/img/apple-icon.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('app/Resources/img/favicon.png') }}">

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" style="height: 70px;">
        <div class="brand" style="height: 70px;">
            <!-- <a href="index.html"><img src="app/Resources/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
           -->
             <a href="index.html"><img src="{{ asset('app/Resources/img/logo.png')  }}" alt="MediSoft Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>


            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        {#<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">5</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                            <li><a href="#" class="more">See all notifications</a></li>
                        </ul>
                        #}
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-user"></i> <span>{{ app.user.usuario }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>Mi Perfil</span></a></li>
                            <li><a href="{{ path('usuario_logout') }}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar" style="padding-top: 80px;"> {#ESTO VA EN 80 PADDING TOp#}
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    {% if is_granted('ROLE_ADMINISTRADOR')  %}
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="fa fa-user-circle"></i> <span>Profesionales</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="{{ path('prefesionales_listar') }}" class="">Listar</a></li>
                                <li><a href="{{ path('profesionales_new') }}" class="">Nuevo</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="fa fa-user-circle"></i> <span>Pacientes</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages2" class="collapse ">
                            <ul class="nav">
                                <li><a href="{{ path('paciente_list') }}" class="">Listar</a></li>
                                <li><a href="{{ path('paciente_create') }}" class="">Nuevo</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}


                    {% if is_granted('ROLE_ADMINISTRADOR')  %}
                    <li>
                        <a href="#subPages4" data-toggle="collapse" class="collapsed"><i class="fa fa-flask"></i> <span>Análisis</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages4" class="collapse ">
                            <ul class="nav">
                                <li><a href="{{ path('analisis_index') }}" class="">Listar</a></li>
                                <li><a href="{{ path('analisis_new') }}" class="">Nuevo</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_PROFESIONAL')  %}
                        <li>
                            <a href="#subPages4" data-toggle="collapse" class="collapsed"><i class="fa fa-flask"></i> <span>Análisis</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages4" class="collapse ">
                                <ul class="nav">
                                    <li><a href="{{ path('analisis_index') }}" class="">Listar</a></li>
                                    <li><a href="{{ path('analisis_new') }}" class="">Nuevo</a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}





                    {% if is_granted('ROLE_ADMINISTRADOR')  %}
                    <li>
                        <a href="#subPages5" data-toggle="collapse" class="collapsed"><i class="fa fa-cogs"></i> <span>Configuración</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages5" class="collapse ">
                            <ul class="nav">
                                <li>    <a href="#subPages51" data-toggle="collapse" class="collapsed"> <span>Tipo Análisis</span> <i class="icon-submenu lnr lnr-chevron-left"></i> </a>
                                <div id="subPages51" class="collapse ">
                                    <ul class="nav">
                                        <li style="padding-left: 20px;"><a href="{{ path('tipoanalisis_index') }}" class="">Listar</a></li>
                                        <li style="padding-left: 20px;"><a href="{{ path('tipoanalisis_new') }}" class="">Nuevo</a></li>
                                    </ul>
                                </div>
                                </li>

                                <li>    <a href="#subPages52" data-toggle="collapse" class="collapsed"> <span>Items Análisis</span> <i class="icon-submenu lnr lnr-chevron-left"></i> </a>
                                    <div id="subPages52" class="collapse ">
                                        <ul class="nav">
                                            <li style="padding-left: 20px;"><a href="{{ path('itemtipoanalisis_index') }}" class="">Listar</a></li>
                                            <li style="padding-left: 20px;"><a href="{{ path('itemtipoanalisis_new') }}" class="">Nuevo</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_PACIENTE')%}
                    <li>
                        <a href="{{ path('graficos') }}" ><i class="fa fa-bar-chart"></i> <span>Gráficos</span> </a>

                    </li>
                    {% elseif is_granted('ROLE_ADMINISTRADOR') %}
                        <li>
                            <a href="{{ path('graficos') }}" ><i class="fa fa-bar-chart"></i> <span>Gráficos</span> </a>

                        </li>
                   {% endif %}



                    {#<li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
                    <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
                    <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                    <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="page-profile.html" class="">Profile</a></li>
                                <li><a href="page-login.html" class="">Login</a></li>
                                <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                    <li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
                    <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>#}
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->

    <div class="main" style="padding-top: 80px;">     {#ESTO ACA VA EN 80, ES PARA LA NAVBAR DE ARRIBA QUE ESTA COMENTADA#}
        <!-- MAIN CONTENT -->
        <div class="main-content">
            {% block body %}
            {% endblock %}
        </div>
        <!-- END MAIN CONTENT -->
    </div>

    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
{% block javascripts %}
<script src="{{ asset('app/Resources/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('app/Resources/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('app/Resources/vendor/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('app/Resources/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
<script src="{{ asset('app/Resources/vendor/chartist/js/chartist.min.js') }}"></script>
<script src="{{ asset('app/Resources/scripts/klorofil-common.js') }}"></script>
    <script src="{{ asset('app/Resources/js/highcharts.js') }}"></script>
    <script src="{{ asset('app/Resources/js/datatables.min.js') }}"></script>
    <script src="{{ asset('app/Resources/js/bootstrap-datepicker.js') }}"></script>

<script>
    $(function() {
        var data, options;

        // headline charts
        data = {
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            series: [
                [23, 29, 24, 40, 25, 24, 35],
                [14, 25, 18, 34, 29, 38, 44],
            ]
        };

        options = {
            height: 300,
            showArea: true,
            showLine: false,
            showPoint: false,
            fullWidth: true,
            axisX: {
                showGrid: false
            },
            lineSmooth: false,
        };

        new Chartist.Line('#headline-chart', data, options);


        // visits trend charts
        data = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            series: [{
                name: 'series-real',
                data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
            }, {
                name: 'series-projection',
                data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
            }]
        };

        options = {
            fullWidth: true,
            lineSmooth: false,
            height: "270px",
            low: 0,
            high: 'auto',
            series: {
                'series-projection': {
                    showArea: true,
                    showPoint: false,
                    showLine: false
                },
            },
            axisX: {
                showGrid: false,

            },
            axisY: {
                showGrid: false,
                onlyInteger: true,
                offset: 0,
            },
            chartPadding: {
                left: 20,
                right: 20
            }
        };

        new Chartist.Line('#visits-trends-chart', data, options);


        // visits chart
        data = {
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            series: [
                [6384, 6342, 5437, 2764, 3958, 5068, 7654]
            ]
        };

        options = {
            height: 300,
            axisX: {
                showGrid: false
            },
        };

        new Chartist.Bar('#visits-chart', data, options);


        // real-time pie chart
        var sysLoad = $('#system-load').easyPieChart({
            size: 130,
            barColor: function(percent) {
                return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
            },
            trackColor: 'rgba(245, 245, 245, 0.8)',
            scaleColor: false,
            lineWidth: 5,
            lineCap: "square",
            animate: 800
        });

        var updateInterval = 3000; // in milliseconds

        setInterval(function() {
            var randomVal;
            randomVal = getRandomInt(0, 100);

            sysLoad.data('easyPieChart').update(randomVal);
            sysLoad.find('.percent').text(randomVal);
        }, updateInterval);

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

    });
</script>
{% endblock %}
</body>

</html>
