{% extends 'front.html.twig' %}

{%  block body %}
    <div class="form_row">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.usuario) }}
            {{ form_widget(form.usuario, {'attr' : {'class' : 'form-control',
                'placeholder' : ' Usuario'}}) }}
            {{ form_errors(form.usuario) }}
        </div>


        {{ form_end(form) }}
    </div>

{% endblock body %}