{% extends 'front.html.twig' %}

{%  block body %}

    <div class="container">
    <div class="row">
    <a href="{{ path('profesionales_new') }}">Agregar Profesional</a>
    <table class="table" style="width: 90%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Usuario</th>

                <th>Activo</th>

                <th>Acciones</th>


            </tr>
        </thead>
        <tbody>
    {%  for pro in prof %}
            <tr>
                <td>{{ pro.id }}</td>
                <td>{{ pro.nombre }}</td>
                <td>{{ pro.apellido }}</td>
                <td>{{ pro.fechaNacimiento|date("d/m/Y") }}</td>
                <td>{{ pro.dni }}</td>
                <td>{{ pro.email }}</td>
                <td>{{ pro.usuario }}</td>

                <td>{{ pro.activo }}</td>

                <td>
                    <a href="{{ path('profesional_edit', {'id':pro.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a href="{{ path('profesional_delete',{'id':pro.id}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <a href="{{ path('profesional_show',{'id':pro.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>

            </tr>
    {% endfor %}
        </tbody>
    </table>


        </div>
    </div>



{% endblock body %}