{% extends 'front.html.twig' %}

{%  block body %}
    <h2 class="text-info">Listado Profesional</h2>

    <div class="container">
    <div class="row">
    <table id="example" class="table" style="width: 90%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Usuario</th>

                <th>Acciones</th>


            </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Usuario</th>

            <th>Acciones</th>


        </tr>
        </tfoot>
        <tbody>
    {%  for pro in prof %}
            <tr>
                <td>{{ pro.id }}</td>
                <td>{{ pro.nombre }}</td>
                <td>{{ pro.apellido }}</td>
                <td>{{ pro.fechaNacimiento|date("d/m/Y") }}</td>
                <td>{{ pro.dni }}</td>
                <td>{{ pro.email }}</td>
                <td>{{ pro.usuario }}</td>



                <td>
                    <a href="{{ path('profesional_edit', {'id':pro.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a href="{{ path('profesional_delete',{'id':pro.id}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <a href="{{ path('profesional_show',{'id':pro.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>

            </tr>
    {% endfor %}
        </tbody>
    </table>


        </div>
    </div>



{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each( function () {
                var title = $(this).text();


                if(title != 'Acciones')
                {
                    $(this).html( '<input type="text" placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }
                else
                {
                    $(this).html( '<input type="hidden"  placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }


            } );

            // DataTable
            var table = $('#example').DataTable();

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            $('#example_filter').hide();
        } );
    </script>
{% endblock %}
