{% extends 'front.html.twig' %}

{%  block body %}
    <h2 class="text-info">Editar Tipo Analisis</h2>
    <div class="form">
        {{ form_start(edit_form) }}

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(edit_form.nombre, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(edit_form.nombre, {'attr' : {'class' : 'form-control col-10'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(edit_form.nombre) }}
                </div>
            </div>
        </div>

        <br>


        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(edit_form.metodo, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(edit_form.metodo, {'attr' : {'class' : 'form-control col-10'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(edit_form.metodo) }}
                </div>
            </div>
        </div>

        <br>




        <div class="row">
            <div class="form-group">
                <div class=" col-md-4">
                </div>
                <div class="col-md-4">
                    {{ form_widget(edit_form.Guardar, {'attr' : {'class' : 'btn'}}) }}
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </div>





        {{ form_end(edit_form) }}
    </div>


{% endblock body %}