{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-info">Listado Tipo Análisis</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Metodo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoAnalisi in tipoAnalises %}
            <tr>
                <td><a href="{{ path('tipoanalisis_show', { 'id': tipoAnalisi.id }) }}">{{ tipoAnalisi.id }}</a></td>
                <td>{{ tipoAnalisi.nombre }}</td>
                <td>{{ tipoAnalisi.metodo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipoanalisis_show', { 'id': tipoAnalisi.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipoanalisis_edit', { 'id': tipoAnalisi.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipoanalisis_new') }}">Create a new tipoAnalisi</a>
        </li>
    </ul>
{% endblock %}
