{% extends 'front.html.twig' %}


{% block body %}
    <h2 class="text-info">Listado Tipo Análisis</h2>
    {%if app.session is defined %}
    {% for m in app.session.flashBag.get('error')%}
      <div class="alert alert-danger">
      {{ m }}
      </div>
    {% endfor %}
    {% endif %}

    <table id="example" class="table table-striped" style="width: 90%" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Metodo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Metodo</th>
            <th>Actions</th>
        </tr>
        </tfoot>
        <tbody>
        {%  for tipoAnalise in tipoAnalises %}
            <tr>
                <td>{{ tipoAnalise.id }}</td>
                <td>{{ tipoAnalise.nombre }}</td>
                <td>{{ tipoAnalise.metodo }}</td>

                <td>
                    <a href="{{ path('tipoanalisis_edit', {'id':tipoAnalise.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a onclick="return confirm('¿Está seguro que desea eliminar este tipo de análisis?')" href="{{ path('tipoanalisis_delete',{'id':tipoAnalise.id}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each( function () {
                var title = $(this).text();


                if(title != 'Actions')
                {
                $(this).html( '<input type="text" placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }
                else
                {
                    $(this).html( '<input type="hidden"  placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }


            } );

            // DataTable
            var table = $('#example').DataTable();

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            $('#example_filter').hide();
        } );
    </script>

{% endblock %}
