{% extends 'front.html.twig' %}


{% block body %}
    <h2 class="text-info">Listado Item Tipo Análisis</h2>

    <table class="table table-striped" style="width: 90%" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Metodo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {%  for tipoAnalise in tipoAnalises %}
            <tr>
                <td>{{ tipoAnalise.id }}</td>
                <td>{{ tipoAnalise.nombre }}</td>
                <td>{{ tipoAnalise.metodo }}</td>

                <td>
                    <a href="{{ path('tipoanalisis_edit', {'id':tipoAnalise.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a href="{{ path('tipoanalisis_delete',{'id':tipoAnalise.id}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

