{% extends 'front.html.twig' %}

{%  block body %}
    <div class="container-fluid">

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
            {{ form_label(form.item,'Seleccione Item') }}
            </div>
            <div class="col-md-2">
            {{ form_widget(form.item) }}
            </div>
            {{ form_errors(form.item) }}
            <div class="col-md-3">

                <button type='button'  class="btn btn-default btn-sm" id="graficar">Graficar</button>


            </div>
        </div>

        {{ form_end(form) }}
        <br>
    <div id="grafica" style="width:100%; height:400px;"></div>

    </div>

{% endblock body %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function()
        {
            $('#form_item').append('<option value=-1>Seleccione un Item</option>')
                .val(-1);


            $('#graficar').click(function (){
                var idPac = 1;
                var idItem = $('#form_item').val();

                var urlJ= "{{ path('resultGraficos', {'idPaciente': 'idPac','idItem': 'idItem'}) }}";
                urlJ = urlJ.replace("idPac", idPac);
                urlJ = urlJ.replace("idItem", idItem);

                console.log(idItem);

                var ejeX = [];
                var ejeY = [];
                $.ajax({
                        url: urlJ,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            var result = data.resultados;

                            for(var i=0; i<result.length; i++)
                            {
                                ejeX.push(result[i].resultado);
                                ejeY.push(result[i].fechaEntrega)
                            }


                        },
                        async: false
                    }
                );

                var myChart = Highcharts.chart('grafica', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Comparación Resultados de Análisis'
                    },
                    xAxis: {

                        categories: ejeY
                    },
                    yAxis: {
                        plotBands: [{
                            color: 'rgba(65, 134, 27, 0.4)',
                            from: 3,
                            to: 4,
                            label:{
                                text: 'Valores Normales'
                            }

                        }],
                        title: {
                            text: 'Resultado Análisis'
                        }
                    },
                    series: [ {
                        name: 'John',
                        data: ejeX
                    }]
                });




            });










            })



















    </script>


{% endblock %}