{% extends 'front.html.twig' %}

{% block body %}
    <h2 class="text-info">Edición Análisis</h2>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="form-group">
            <div class=" col-md-1">
                {{ form_label(edit_form.paciente, null, {
                    'label_attr' : {'class' : 'control-label'}}) }}
            </div>
            <div class="col-md-8">
                {{ form_widget(edit_form.paciente, {'attr' : {'class' : 'form-control col-10'}}) }}
            </div>
            <div class="col-md-3">
                {{ form_errors(edit_form.paciente) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class=" col-md-1">
                {{ form_label(edit_form.profesional, null, {
                    'label_attr' : {'class' : 'control-label'}}) }}
            </div>
            <div class="col-md-8">
                {{ form_widget(edit_form.profesional, {'attr' : {'class' : 'form-control col-10'}}) }}
            </div>
            <div class="col-md-3">
                {{ form_errors(edit_form.profesional) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class=" col-md-1">
                {{ form_label(edit_form.estado, null, {
                    'label_attr' : {'class' : 'control-label'}}) }}
            </div>
            <div class="col-md-8">
                {{ form_widget(edit_form.estado, {'attr' : {'class' : 'form-control col-10'}}) }}
            </div>
            <div class="col-md-3">
                {{ form_errors(edit_form.estado) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class=" col-md-1">
                {{ form_label(edit_form.fechaEntrega, null, {
                    'label_attr' : {'class' : 'control-label'}}) }}
            </div>
            <div class="col-md-8">
                {{ form_widget(edit_form.fechaEntrega, {'attr' : {'class' : ''}}) }}
            </div>
            <div class="col-md-3">
                {{ form_errors(edit_form.fechaEntrega) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class=" col-md-1">
                {{ form_label(edit_form.fechaCreado, null, {
                    'label_attr' : {'class' : 'control-label'}}) }}
            </div>
            <div class="col-md-8">
                {{ form_widget(edit_form.fechaCreado, {'attr' : {'class' : ''}}) }}
            </div>
            <div class="col-md-3">
                {{ form_errors(edit_form.fechaCreado) }}
            </div>
        </div>
    </div>


    {% for it in edit_form.item %}

 
    <div class="row">
        <div class="form-group">

            <div class="col-md-1">
                {{ form_label(it,  it.vars.value.item.nombre  ) }}
            </div>
            <div class="col-md-8" >
                {{ form_widget(it, {'attr' : {'class' : ''}}) }}
            </div>
            <div class="col-md-3">
                {{ form_errors(it) }}
            </div>
        </div>
    </div>

    {% endfor %}


    <div class="row">
        <div class="form-group">

            <div class="col-md-8">
                {{ form_widget(edit_form.Guardar, {'attr' : {'class' : ''}}) }}
            </div>
        </div>
    </div>


    {{ form_end(edit_form, {'render_rest':false}) }}


{% endblock %}

