{% extends 'front.html.twig' %}


{% block body %}
    <h2 class="text-info">Listado Análisis</h2>
    <br>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            {{ form_label(form.fechaInicio,'Fecha Inicio Realizada') }}
        </div>
        <div class="col-md-2" >
            {{ form_widget(form.fechaInicio) }}
        </div>

        <div class="col-md-2">
            {{ form_label(form.fechaFin,'Fecha Fin Realizada') }}
        </div>
        <div class="col-md-2" >
            {{ form_widget(form.fechaFin) }}
        </div>
        <div class="col-md-1">
            {{ form_widget(form.buscar) }}
        </div>

    </div>

    {{ form_row(form._token) }}


    {{ form_end(form, {'render_rest':false}) }}
    <br>
    <hr>


    <table id="example" class="table table-striped" style="width: 90%" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre Paciente</th>
            <th>Nombre Profesional</th>
            <th>Fecha Realizado</th>
            <th>Fecha Entregado</th>
            <th>Estado</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Nombre Paciente</th>
            <th>Nombre Profesional</th>
            <th>Fecha Realizado</th>
            <th>Fecha Entregado</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </tfoot>
        <tbody>
        {%  for analisess in analises %}
            <tr>
                <td>{{ analisess.id }}</td>
                <td>{{ analisess.paciente.nombre }}&nbsp;{{analisess.paciente.apellido}}</td>
                <td>{{ analisess.profesional.nombre }}&nbsp;{{analisess.profesional.apellido}}</td>
                <td>{{ analisess.fechaCreado|date("d/m/Y") }}</td>
                <td>{{ analisess.fechaEntrega|date("d/m/Y") }}</td>
                <td>{{ analisess.estado }}</td>
                <td>
                    {% if is_granted('ROLE_PROFESIONAL')  %}
                    <a href="{{ path('analisis_edit', {'id':analisess.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a href="{{ path('analisis_delete',{'id':analisess.id}) }}" onclick="return confirm('¿Está seguro que desea eliminar este análisis?')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <a href="{{ path('analisis_edit', {'id':analisess.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a href="{{ path('analisis_delete',{'id':analisess.id}) }}" onclick="return confirm('¿Está seguro que desea eliminar este análisis?')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    {% endif %}
                    <a href="{{ path('analisis_show',{'id':analisess.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each( function () {
                var title = $(this).text();


                if(title != 'Acciones')
                {
                    $(this).html( '<input type="text" placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }
                else
                {
                    $(this).html( '<input type="hidden"  placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }


            } );

            // DataTable
            var table = $('#example').DataTable();

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            $('#example_filter').hide();

            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'es'
            });
            $('.js-datepicker').css('width','150px')
        } );
    </script>
{% endblock %}
