{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-info">Ver Análisis</h2>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ analisi.id }}</td>
            </tr>
            <tr>
                <th>Fechacreado</th>
                <td>{% if analisi.fechaCreado %}{{ analisi.fechaCreado|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaentrega</th>
                <td>{% if analisi.fechaEntrega %}{{ analisi.fechaEntrega|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ analisi.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('analisis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('analisis_edit', { 'id': analisi.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
