{% extends 'front.html.twig' %}

{%  block body %}
    <h2 class="text-info">Ver Profesional</h2>

    <div class="form" >

        <div class="form-group">
            Paciente:<br>
            Nombre: {{ analisi.paciente }} Apellido: {{ analisi.paciente.apellido }}
            Profesional: <br>
            Nombre: {{ analisi.profesional }} Apellido: {{ analisi.profesional.apellido }} <br>
            Estado: {{ analisi.estado }} <br>
            Tipo de analisis: <br>
            {% for ta in analisi.tipoAnalisis %}
            {{ ta.nombre }} <br>
                {% for item in allitem %}
                    {% if item.tipoAnalisis.nombre == ta.nombre %}
                        {{ item.nombre }}<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </div>

    </div>


{% endblock body %}
