<link rel="stylesheet" href="/var/www/html/ProyectoFinal/app/Resources/vendor/bootstrap/css/bootstrap.css">

<div class="container-fluid" style="font-size:16px">
    {% for a in analisi.tipoAnalisis %}
        </br>
       <b> <h4 style="margin-bottom: 0px;">{{ a.nombre }}</h4> </b>
        <div style="margin-bottom: 10px;">Método: {{ a.metodo }}</div>

        <div class="row">

            <div class="col-xs-2 col-xs-offset-5 " >
                <b>Resultado</b>
            </div>
            <div class="col-xs-2">
                <b>Unidad</b>
            </div>
            <div class="col-xs-2">
                <b>Valores Referencia</b>
            </div>
        </div>
        {% for all in allitem %}
            {% if all.item.tipoanalisis == a %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                {{ all.item }}
            </div>
            <div class="col-xs-2">
                {{ all.resultado }}
            </div>
            <div class="col-xs-2">
                {{ all.item.unidad }}
            </div>
            <div class="col-xs-2">

                {% for vr in all.item.valoresReferencia %}
                 {% if vr.valorMax is not null  and vr.valorMin is not null and vr.edadMin is not null and vr.edadMax is not null%}
                     {% if analisi.paciente.edad >= vr.edadMin and analisi.paciente.edad < vr.edadMax %}
                         {{ vr.valorMin }}{{ all.item.unidad }} - {{ vr.valorMax }}
                     {% endif %}
                 {% endif %}
                {% endfor %}


            </div>
        </div>

            {% endif %}
        {% endfor %}




        {# Salto de página. Ver si es necesario <div style="PAGE-BREAK-AFTER: always;"></div>#}

    {% endfor %}

</div>
