{% extends 'front.html.twig' %}

{%  block body %}

    <div class ="panel-body">
    <div class="container">
        <div class="row">

            <table id="example" class="table table-striped" style="width: 90%" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Nacimiento</th>
                    <th>Email</th>
                    <th>Usuario</th>


                    <th>Obra Social</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Nacimiento</th>
                    <th>Email</th>
                    <th>Usuario</th>


                    <th>Obra Social</th>
                    <th>Acciones</th>

                </tr>
                </tfoot>
                <tbody>
                {%  for pa in p %}
                    <tr>
                        <td>{{ pa.id }}</td>
                        <td>{{ pa.nombre }}</td>
                        <td>{{ pa.apellido }}</td>
                        <td>{{ pa.fechaNacimiento|date("d/m/Y") }}</td>
                        <td>{{ pa.email }}</td>
                        <td>{{ pa.usuario }}</td>


                        <td>{{ pa.obraSocial |slice(0,20) }}</td>
                        <td>
                            <a href="{{ path('paciente_edit', {'id':pa.id}) }}"><i class="fa fa-pencil"></i> </a>
                            <a onclick="return confirm('¿Está seguro que desea eliminar este paciente?')" href="{{ path('paciente_delete',{'id':pa.id}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            <a href="{{ path('paciente_show',{'id':pa.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
    </div>



{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each( function () {
                var title = $(this).text();


                if(title != 'Acciones')
                {
                    $(this).html( '<input type="text" placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }
                else
                {
                    $(this).html( '<input type="hidden"  placeholder="Buscar '+title+'" style="width:120px;"/>' );
                }


            } );

            // DataTable
            var table = $('#example').DataTable();

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            $('#example_filter').hide();
        } );
    </script>
{% endblock %}
