{% extends 'front.html.twig' %}

{%  block body %}

    <div class="form">
        {{ form_start(form) }}


        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.usuario, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.usuario, {'attr' : {'disabled':'disabled'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.usuario) }}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.password, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.password, {'attr' : {'disabled':'disabled'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.password) }}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.nombre, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.nombre, {'attr' : {'disabled':'disabled'}})}}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
        </div>

        <br>


        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.apellido, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.apellido, {'attr' : {'disabled':'disabled'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.apellido) }}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.dni, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.dni, {'attr' : {'disabled':'disabled'}})}}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.dni) }}
                </div>
            </div>
        </div>


        <br>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.email, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.email, {'attr' : {'disabled':'disabled'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.email) }}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.fechaNacimiento, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.fechaNacimiento, {'attr' : {'disabled':'disabled'}})}}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.fechaNacimiento) }}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.obraSocial, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.obraSocial, {'attr' : {'disabled':'disabled'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.obraSocial) }}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.nroAfiliado, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.nroAfiliado, {'attr' : {'disabled':'disabled'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.nroAfiliado) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class=" col-md-1">
                    {{ form_label(form.telefono, null, {
                        'label_attr' : {'class' : 'control-label'}}) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.telefono, {'attr' : {'disabled':'disabled'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_errors(form.telefono) }}
                </div>
            </div>
        </div>




        <div class="row">
            <div class="form-group">
                <div class=" col-md-4">
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </div>





        {{ form_end(form) }}
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}



    <script type="text/javascript">
        $(document).ready(function(){
            $('#appbundle_paciente_fechaNacimiento_year').prop('disabled', true);
            $('#appbundle_paciente_fechaNacimiento_month').prop('disabled', true);
            $('#appbundle_paciente_fechaNacimiento_day').prop('disabled', true);
            $('#appbundle_paciente_obraSocial').css('width','300px')



        });
    </script>
{% endblock %}
